@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --brandcolor: #1e3a8a;
  --secBrand: #ef1827;
}
ul {
  margin-top: 0;
  padding-left: 0;
}
li {
  margin-bottom: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.nav-item{
  font-size: 16.5px;
}
/* header design start */
.imglogo {
  height: 90px;
  width: auto;
}
.imglogo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}
.logotext {
  color: var(--brandcolor);
  font-weight: 700;
  font-size: 26px;
}
.logotext1 {
  color: var(--secBrand);
  font-weight: 700;
  font-size: 26px;
  margin-top: -10px;
}
.navlink {
  font-size: 17.5px;
  font-weight: 400;
}
.btn {
  background-color: var(--brandcolor);
  color: white;
}
.btn:hover {
  background-color: var(--secBrand);
  color: white;
  transition: all 0.2s ease-in;
}
.social-icons {
  font-size: 17px;
}
.icons {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--secBrand);
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: relative;
  padding-left: 5px;
  color: var(--brandcolor);
  font-weight: bold;
}
.dropdown-item{
  background-color: #1e3a8a;
  color: white;
  padding:  8px 45px;
 
 
}
.dropdown-menu{
  margin-top: 32px !important;
  border: 0;
  padding: 0;
}



/* home carausel system  */
.carousel-item {
  height: 80vh;
  position: relative;
}
.carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); /* Adjust the colors and opacity as needed */
}
.carousel-item img {
  height: 80vh;
  object-fit: cover;
}
.carousel-caption {
  top: 40px;
}
/* home carausel system  end */



/* About section start  */
.abouthead {
  font-size: 30px;
  font-weight: 600;
}
.aboutp {
  font-size: 17px;
  font-weight: 400;
  text-align: justify;
}
.quotes{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1e3a8a;
}


.aboutimgdown{
  display: none;
}
/* About section end  */

/* service section start */
.serviceHead {
  font-weight: 700;
  text-align: center;
  padding: 10px 0;
  color: #ef1827;
}
.servicetitle{
  color: #ef1827;
}
.card {
  transition: all 0.3s;
}
.card:hover {
  transform: scale(1.04);
}
.card-title {
  font-size: 20px;
  font-weight: 600;
}
.cardbox {
  width: auto;
  height: 69px;
  padding: 0 10px;
  overflow: hidden;

  text-align: left;
}
.service-title{
  color: #1e3a8a;
}
/* service section end  */





/* doctor Profile start */
.book {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  background-color: rgb(231, 236, 232);
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}
.cover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;

  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 0.2px 0.1px 15px #313033;
  box-shadow: 0.2px 0.2px 4px #5c5757;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: beige;
}
.cover img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}
.drname {
  font-size: 20px;
  font-weight: 600;
}
.fbicons {
  width: 35px;
  height: 27px;
  background-color: rgb(31, 9, 121);
  color: white;
}




/* doctor detais */
.doctorimg{
 width: 400px;
 height: 400px;
 border-radius: 50%;
 background-color: rgb(167, 228, 252);
}
.docimg{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* doctor Profile end */




/* appointment section start */
.appointment {
  background-color: rgb(124, 190, 213);
}
/* appointment section end */



/* footer section start */
.imglogofooter {
  width: 120px;
  height: auto;
}
.imglogofooter img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.logotextF {
  color: var(--brandcolor);
  font-weight: 600;
  font-size: 19px;
  padding-bottom: -18px;
}
.logotextF1 {
  color: var(--secBrand);
  font-weight: 600;
  font-size: 18px;
}
.footerfirst {
  background-color: rgb(114, 137, 168);
}
.footerlist li a {
  color: rgb(240, 235, 235);
}
.lastfooter {
  color: rgb(226, 215, 215);

}
.email-address {
  display: inline-block;
  max-width: 200px; /* Adjust the maximum width as needed */

  text-overflow: ellipsis; /* Add ellipsis for longer email addresses */
}
/* footer section end */




/* testimonials start  */
.testimonial {
  text-align: justify;
}
.review {
  min-height: 250px;
}
.person {
  height: 60px;
  width: 60px;
  background-color: rgb(160, 179, 239);
  border-radius: 50%;
  position: relative;
}
.user {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
.testimonialbg {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url("https://img.freepik.com/free-photo/medium-shot-doctors-wearing-protective-equipment_23-2149994405.jpg?t=st=1713955794~exp=1713959394~hmac=a8c88e8f8db20c8e15cc7c2dbe017d650468bb5e3366f3986af72b09352a3911&w=826");
  padding: 80px 0;

  background-repeat: no-repeat;
  background-size: cover;
}
/* testimonials  end */





.icon{
  color: #ef1827;
}
.iconsbg{
  background-color: azure;
  border-radius: 50%;

}
.DoctorProfile{
  color: #1e3a8a;
}

.journerl{
  text-align: justify;
}




/* case study start */
.caseicon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconimg{
  width: 80px;
  height: 80px ;
 
}
.iconimg img{
  width: 100%;
  height:100%;
  object-fit: cover;
  color: #1e3a8a;
}
.casetitle{
  color: #1e3a8a;
  font-size: 17px;
}


@media (max-width: 567px) {
  .navbar{
    padding: 15px 6px;
  }
  .imglogo {
    height: 38px;
    width: auto;
  }
  .imglogo img {
    height: 100%;
    width: auto;
    object-fit: contain;
  }
  .logotext {
    color: rgb(0, 0, 189);
    font-weight: 700;
    font-size: 13px;
  }
  .logotext1 {
    color: rgb(252, 2, 2);
    font-weight: 700;
    font-size: 20px;
  }
  .ncrc{
    color: rgb(252, 2, 2);
  }
  .doctorimg{
    width: 300px;
    height: 300px;
    border-radius: 30%;
    background-color: rgb(167, 228, 252);
   }
   .docimg{
     width: 100%;
     height: 100%;
     object-fit: contain;
   }

.copyright{
  font-size: 13px;
  padding: 10px 0;
}
.contact-email{
  font-size: 15px;
}
.dropdown-menu{
  margin-top: 5px !important;
  border: 0;
  padding: 0;
}
.dropdown-menu{
border-radius: 10px;
}


.quotes{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1e3a8a;
  display: none;
}

.aboutimgdown{
  display: block;
}
  
}


@media (max-width: 768px) {
  /* doctor detais */
 .doctorimg{
  width: 500px;
  height: 320px;
 
  border-radius: 50%;
  background-color: skyblue;
}
.contact-email{
  font-size: 17px;
}
.quotes{
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1e3a8a;
  display: none;
}
.aboutimgdown{
  display: block;
}
  
}



/* loader */
.loader{
  height: 100vh;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
.spinner-border-custom {
  width: 6rem;
  height: 6rem;
  border-width: 0.4em;
}
.spinner-text {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #001eff;
}




/* page not found */
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  background-color: #f8f9fa;
}
.not-found-title {
  font-size: 4rem;
  color: #343a40;
}
.not-found-subtitle {
  font-size: 1.5rem;
  color: #6c757d;
}
